<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>userList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="${host}">User List</h1>
<!-- 不存在则忽略，显示hello null!(可以通过默认值进行设置)-->
<p th:text="'Hello ' + (${name}?:'admin')">3333</p>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
<!--        <th>AGE</th>-->
    </tr>
    <tr th:each="User : ${List}">
        <td th:text="${User.getId()}">1</td>
        <td th:text="${User.getUserName()}">海</td>
<!--        <td th:text="${List.age}">18</td>-->
    </tr>
</table>
</body>
</html>