<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="maxname" style="width:600px;">

    <div id="head1" style="background-color:#73C6B6;height:20px;width:150px;float:left;text-align:center;">
            <a href="/">Home Page</a>
    </div>
    <div id="head2" style="background-color:#D7DBDD;height:20px;width:150px;float:left;text-align:center;">
            <a href="/user">用户管理</a>
    </div>
    <div id="head3" style="background-color:#A6ACAF;height:20px;width:150px;float:left;text-align:center;">
            <a href="/transaction">交易记录</a>
    </div>
    <div id="head4" style="background-color:#CCD1D1;height:20px;width:150px;float:left;text-align:center;">

    </div>

    <div id="hname" style="background-color:#73C6B6;">
        <h1 style="margin-bottom:0;text-align:center;" >Home Page</h1>
    </div>


    <div id="body1" style="background-color:#BFC9CA;height:200px;width:150px;float:left;">


    </div>
    <div id="body2" style="background-color:#D7DBDD;height:200px;width:150px;float:left;">

    </div>
    <div id="body3" style="background-color:#A6ACAF;color:#5D6D7E;height:200px;width:150px;float:left;">

    </div>
    <div id="body4" style="background-color:#CCD1D1;height:200px;width:150px;float:left;">


    </div>
    <div id="bool" style="background-color:#F0F8FF;clear:both;text-align:center;">

    </div>
</div>




</body>
</html>